.header {
  background: url('../../img/header.png') no-repeat;
  height: 550px;
  background-size: 100%;
  padding-top: 10px;
}

.logo {
  height: 40px;
}

.menu {
  margin-top: 10px;
}

.menu__item {
  margin: 0 20px;
}

.menu__item a {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  color: #3c4451;
}

@media screen and (max-width: 991px) {
  .logo {
    display: block;
    margin: 0 auto;
  }
}

@media screen and (max-width: 520px) {
  .menu{
    flex-direction: column;
  }

  .menu__item {
    text-align: center;
  }

  section {
    width: 100%;
  }
}

@media screen and (max-width: 495px) {
  .header {
    background-size: auto;
  }
}
