.skills__title {
  text-align: center;
  margin-top: 25px;
}

.skills__title h1{
  font-weight: 400;
}

.skills__list {
  margin-top: 10px;
  background-color: #ffffff;
  padding: 40px 20px;
  box-shadow:
    0 1px 6px rgba(0, 0, 0, 0.12),
    0 1px 4px rgba(0, 0, 0, 0.24);
}

.skills__item {
  margin-bottom: 30px;
}

.skills__item-title__text {
  text-align: left;
  width: 80%;
  margin-bottom: 5px;
}

.skills__item-title__value {
  text-align: right;
  width: 20%;
}

.skills__item .progress{
  height: 3px;
}

.skills__item .progress-bar {
  background-color: #4c96d7;;
}
